@import "tailwindcss";

/* Thiết lập màu nền cho toàn bộ trang */
:root {
  background-color: #111827; /* Đây là mã màu của bg-gray-900 */
  color: white;
}

body {
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
